<!-- The main Home page for this website -->
{% extends 'myapp/base.html' %}
{% load static %}
{% block title %}ACME Manufacturing Corp. - Home{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'myapp/home.css' %}">
{% endblock %}

{% block content %} <!-- This is the start of the content block -->


    <!--Top large image with textarea -->
    <section class="banner">
        <img src="{% static 'images/banner.jpg' %}" alt="Robot Metal Processing">

        <div class="banner-text">
            <h1>Welcome to ACME Manufacturing Corp.</h1>
            <p>Since 1910, Acme has been providing quality tools to the metal finishing industry. This kind of longevity is unparalleled and has resulted in a wealth of knowledge that makes Acme the preferred supplier across a broad spectrum of industries. Acme has a wide variety of applications within our core solutions that provide our customers with industry leading technology.</p>
        </div>
    </section>

    <main>

    <!--Products display area -->
    <section class="products">
        <!-- Product 1 -->
        <div class="product">
            <img src="{% static 'images/buffing_machine.jpg' %}" alt="Buffing Machine">
            <div class="product-description">
                <h3>Buffing Machine</h3>
                <p>Acme’s buffing machines produce a blend of consistent high-quality surface finishes with a production
                    rate that has been un-achievable by competitive solutions.
                </p>
            </div>
        </div>
        <!--Product 2 -->
        <div class="product">
            <img src="{% static 'images/deburring_machine.jpg' %}" alt="Deburring_Machine">
            <div class="product-description">
                <h3>Deburring Machine</h3>
                <p>Acme has countless robotic deburring machines in the field that are utilizing brush, wheel, and
                    hard-tool techniques for material removal, edge profiling, deburring and radius/chamfer applications.
                </p>
            </div>
        </div>
        <!--Product 3 -->
        <div class="product">
            <img src="{% static 'images/gridding_machine.jpg' %}" alt="Gridding_Machine">
            <div class="product-description">
                <h3>Gridding Machine</h3>
                <p>Acme robotic grinding solutions are engineered as a flexible means of removing excess material from
                    surfaces of fabricated, forged, cast or machined parts with precision and efficiency.
                </p>
            </div>
        </div>
    </section>

    </main>

{% endblock %}