{% extends 'myapp/base.html' %}
{% load static %} <!-- Loads the static template tag to access static files like CSS, JS, images -->
{% block title %}ACME Employees System -Login{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'myapp/login.css' %}">
{% endblock %}

{% block content %} <!-- This is the start of the content block -->

<!-- Background Image -->
<div class="background"></div>

<!-- Login Form -->
<div class="page-content">
  <div class="login-container">
    <form class="login-form" method="post">
      <h1>ACME Employees System</h1>
      <div class="input-group">
        {% csrf_token %}
        {{ form }} <!-- This will display the form fields -->
      </div>
      <button type="submit" class="login-button">Log in</button>
    </form>
  </div>
</div>

{% endblock %}